<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Backbone.js sample</title>
        <script src="../../lib/jquery-2.1.1.js"></script>
        <script src="../../lib/underscore.js"></script>
        <script src="../../lib/backbone.js"></script>
        <script src="main.js"></script>
        <script type="text/template" id="template-programing">
           <label for="language"><%= title %></label>
           <select id="language">
              <option value="<%= value.option1 %>"><%= label.option1 %></option>
              <option value="<%= value.option2 %>"><%= label.option2 %></option>
              <option value="<%= value.option3 %>"><%= label.option3 %></option>
              <option value="<%= value.option4 %>"><%= label.option4 %></option>
              <option value="<%= value.option5 %>"><%= label.option5 %></option>
           </select>
        </script>
    </head>
    <body></body>
</html>
