.cls_table {
	border-collapse: collapse;
}

.cls_table th {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}

.cls_table td {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}